<div class="alert-card" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-card fxFlex="30">
        <app-widget-card-alert label="master node 1" state="paused" message="wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww"></app-widget-card-alert>
    </mat-card>
    <mat-card fxFlex>
        <app-widget-card-alert label="master node 2" state="alerting" message="..."></app-widget-card-alert>
    </mat-card>
    <mat-card fxFlex>
        <app-widget-card-alert label="worker node 2" state="pending" message="..."></app-widget-card-alert>
    </mat-card>
</div>