<mat-nav-list>

  <div class="nav-pages">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
      <mat-icon color="primary">dashboard</mat-icon>
      <p>Overview</p>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/api/smart_building">
      <mat-icon color="primary">home</mat-icon>
      <p>Smart Building</p>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/api/data_center">
      <mat-icon color="primary">dns</mat-icon>
      <p>Data Center</p>
    </a>
  </div>

</mat-nav-list>
