<mat-nav-list>

    <div class="nav-pages">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
            <mat-icon color="accent">dashboard</mat-icon>
            <p>Dashboard</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/nodes">
            <mat-icon color="accent">devices_other</mat-icon>
            <p>Nodes</p>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/alerts">
            <mat-icon color="accent">notifications_active</mat-icon>
            <p>Alerts</p></a>
    </div>

</mat-nav-list>