#title {
    color: #000;
    font-style: oblique;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 0;
    padding-top: 0;
}

mat-icon {
    color: #f44b7c;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label, .state, .message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tag {
    color: #2979ff;
    margin-right: 10%;
    padding-top: 20px;
    font-weight: 500;
    font-size: 15px;
}

.state_value, .message_value, mat-icon {
    word-wrap: break-word;
    width: 50%
}
