<div class="node-card" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <mat-card fxFlex="30">
        <app-widget-card-node label="k3s-master01" node_status="Ready" node_ip="172.20.10.6" cpu="..." memory="..." pods="..."></app-widget-card-node>
    </mat-card>
    <mat-card fxFlex="30">
        <app-widget-card-node label="k3s-master02" node_status="Ready" node_ip="172.20.10.7" cpu="..." memory="..." pods="..."></app-widget-card-node>
    </mat-card>
    <mat-card fxFlex="30">
        <app-widget-card-node label="k3s-worker01" node_status="Ready" node_ip="172.20.10.13" cpu="..." memory="..." pods="..."></app-widget-card-node>
    </mat-card>
    <mat-card fxFlex="30">
        <app-widget-card-node label="k3s-worker02" node_status="Not Ready" node_ip="172.20.10.14" cpu="..." memory="..." pods="..."></app-widget-card-node>
    </mat-card>
</div>