h3 {
    font-style: oblique;
    font-weight: 500;
    font-size: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

mat-icon {
    color: #2979ff;
}